*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;


}
.container{
background-color: white;
color: black;
height: 100vh;
width: 100%;
}
.button{
    border-radius: ("--radius");
    background-color: ("--background");

}
.header1{
    background-color: brown;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-content: center;
}

.prettry{
    color: slateblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}